:root{
    --text-color: #FFFFFF;
    --primary-text-color: #161616;
    --button-color: #DD0000;
}
/* universal selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'main'
    'main'
    'footer'
    ;
}
/* default css */
a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px;
}
h1{
    font-weight: 700;
    font-size: 70px;
    color: var(--text-color);
}
h2{
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-text-color);
}
h4{
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
}
h5{
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    width: 103px;
    height: 31px;
    padding: 8px;
    text-align: center;
}
/* hero part start */
.container{
    width: 86%;
    display: flex;
    justify-content: flex-end;
    margin: 50px 50px 0 50px;
}
.hero_part{
    background-color: var(--primary-text-color);
    border-radius: 30px;
    display: flex;
    align-items: center;   
    width: 1100px;
    height: 503px;
}

/* .hero_part:hover{
    border: 2px dashed white;
    border-radius: 10px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
} */
.mobile_view{
    display: none;
}
.hero_text{
    width: 50%;
    padding: 50px;
}
.button{
    background-color: var(--button-color);
    width: 187px;
    height: 56px;
    border: none;
    border-radius: 10px;
    margin-top: 25px;
}
.mobile_but{
    display: none;
}
.hero_img{
    width: 50%;
    margin: 105px 0 0 0;
}
.hero_img img{
    width: 566px;
    height: 563px;
    padding: 82px;
}
  .button:hover {	
    animation: example 4s infinite
  }
  
  @keyframes example {
    0%   {background-color:rgb(50, 135, 233); left:0px; top:0px;}
    25%  {background-color:rgb(241, 241, 115); left:200px; top:0px;}
    50%  {background-color:rgb(27, 253, 148); left:200px; top:0px;}
    100% {background-color:rgb(243, 154, 52); left:0px; top:0px;}
  }
/* hero part end */
/* main part start */ 
.blog{
        width: 100%;
        padding: 90px;
    }
    .update{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
    .match_update{
        grid-column: 1 / 2;
        grid-row: 1 / -5;
        height: 275px;
        background: #161616;
        border-radius: 20px;
        padding: 18px;
        height: 312px;
    }
    .update_button{
        padding: 15px;
    }
    .button_2{
        background-color: var(--text-color);
        width: 187px;
        height: 56px;
        border: none;
        border-radius: 10px;
        margin-top: 25px;
    }
    .button_2 a{
        color: var(--primary-text-color);
    }
    .blog_item{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }
    .blog_text{
        padding: 12px;
    }
    .transfer{
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .icon{
        display: flex;
        width: 143px;
    }
    .click{
        margin-top: 20px;
        margin-bottom: 5px;
        color: var(--primary-text-color);
    }
    .blog_icon{
        margin-left: 10px;
    }
/* main part end */
/* footer part start */
    .footer_area{
        text-align: center;
        width: 100%;
        background-color: var(--primary-text-color);
        padding: 60px 0 0 0;
    }
    .title h2{
        font-weight: 600;
        font-size: 40px;
        color: var(--text-color);
        margin-bottom: 30px;
    }
    .footer_menu{
        padding: 35px;
    }
    .footer_menu a{
        margin: 20px;  
    }
    .footer_icon a{
        margin: 15px;
        width: 50px;  
        height: 50px;
    }
/* footer part end */
/* mobile responsive start */
/* Extra small devices (phones, 576px and down) */
@media screen and (max-width: 576px) {
    .container{
        width: 91%;
    }
    .hero_part{
        display: grid;
        text-align: center;
        height: 287vh;
        background-color: var(--primary-text-color);
        border-radius: 30px;
    }
    .button{
        display: none;
    }
    .hero_text{
        width: auto;
    }
    .hero_text h1{
        font-size: 90px;
    }
    .hero_img{
        margin: 0;
    }
    .mobile_view{
        display: block;
        margin-top: 10px;
        font-weight: bolder;
        font-size: 38px;
    }
    .desktop_view{
        display: none;
    }
    .hero_img{
        width: auto;
    }
    .hero_img img{
        height: 659px;
        padding: 0;
        width: auto;
    }
    .blog{
        width: 100%;
        padding: 0;
    }
    .match_update{
        display: none;
    }
    #mobile_button{
        display: inline;
        border: none;
    }

    .mobile_but_1{
        display: flex;
        color: #000;
        font-size: 35px;
        width: 400px;
        height: 100px;
        border: 1px solid var(--primary-text-color);
        border-radius: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin: 35px auto;
    }
    .mobile_but_2{
        display: flex;
        color: #000;
        font-size: 35px;
        width: 325px;
        height: 100px;
        border: 1px solid var(--primary-text-color);
        border-radius: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin: 35px auto;
    }

    .mobile_but{
        display: flex;
        font-size: 35px;
        background-color: var(--button-color);
        width: 325px;
        height: 100px;
        border: none;
        border-radius: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin: 35px auto;
    }
    .update{
        display: block;
    }
    .blog_item{
        margin: 60px;
        border-radius: 16px;
    }
    .blog_text{
        padding: 40px;
    }
    .blog_img img{
        width: 100%;
    }

    .transfer h5{
        font-size: 40px;
        border: 1px solid #161616;
        border-radius: 10px;
        width: 240px;
        height: 80px;
        padding: 24px;
        text-align: center;
        margin-top: 30px;
    }

    .tranfer_text h2{
        font-size: 34px;
        font-weight: bolder;
        color: var(--primary-text-color);
        width: 50%;
    }

    .icon{
        width: 50%;
    }

    .click{
        margin-top: 20px;
        margin-bottom: 10px;
        color: var(--primary-text-color);
        font-size: 40px;
    }

    .footer_area{
    height: 145vh;
    }
    hr{
        width: 65%;
        display: -webkit-inline-box;
    }
    .footer_menu{
        padding: 0;
    }
    .footer_menu a{
        display: block;
        font-size: 2rem;
        color:  #B9B9B9;
    }
    .fa-icon{
        font-size: 40px;
    }
}
/* mobile responsive end */
/* tablet responsive start */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        width: 92%;
    }
    .match_update{
        display: none;
    }
    .update{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
    .desktop{
        display: none;
    }
    .blog_text{
        width: 50%;
    }
    .blog_img img{
        width: 100%;
    }
    .footer_menu{
        width:65%;
        margin: auto;
        line-height: 30px;
    }

}